= render layout: 'layouts/logged_out', locals: { heading: "Log in", links: true } do
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'input-lg' }
      = f.input :password, required: true, autofocus: true, label: false, placeholder: 'Password', input_html: { class: 'input-lg' }
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Log in", class: 'btn-lg btn-primary btn-block'
