<h1> hello </h1>
<%= @hxlstats %>
<pre>
country moodrating stage_of_journey count gender1 gender2 gender3 age1 age2
country moodrating stage_of_journey count gender count
<% @hxlstatsgroups.sort.each do |hxlstatsmoodrating, hxlstats| %>

        <% hxlstats.group_by(&:age).sort.each do |hxlstatage, hxlstat| %>
                Age <%= hxlstatage %>
        <% end %>

        <% hxlstats.group_by{|hxlmv| (hxlmv.age + 5) / 6  }.sort.each do |hxlstatage, hxlstat| %>
                Batched Age <%= hxlstatage %>
                <%= hxlstat.count %>
        <% end %>
        <% hxlstats.group_by(&:gender).sort.each do |hxlstatgender, hxlstat| %>
       <%= hxls[0].country %> <%= hxls[0].mood_rating %> <%= hxlstat[0].stage_of_journey %> <%= hxlstat.count %> <%= hxlstatgender %> <%= hxlstat.count %> 
        <% end %>
        <%#
<%#= hxlstats %>
<%#= hxlstatsmoodrating %>
<% end %>
</pre>
