- @drawings.each do |drawing|
  %tr
    %td
      = link_to drawing_path(drawing) do
        = image_tag drawing.image.url(:thumb)
    %td
      = drawing.subject_matter
    %td
      = drawing.description_concat
    %td
      = drawing.age
    %td
      = drawing.gender.humanize
    %td
      = drawing.stage_of_journey
    %td
      = drawing.story_concat
    %td
      = drawing.mood_rating
    %td
      - if drawing.can_modify?(current_user)
        = link_to edit_drawing_path(drawing) do
          %i.fa.fa-pencil{"aria-hidden" => "true"}
    %td
      - if drawing.can_modify?(current_user)
        = link_to drawing_path(drawing), method: :delete, data: { confirm: 'Are you sure?' } do
          %i.fa.fa-trash{"aria-hidden" => "true"}
    %td
      = drawing.user.email
    %td
      .drawing-status-pending
        = drawing.status.upcase
