.drawings-wrapper{ class: drawings_class }
  .drawing
    .image.center-block
      = link_to (image_tag drawing.image.url(:medium), class:'img-responsive'),
                 drawing_path(drawing)
    .drawing-bottom
      .caption
        .caption-content
          .drawing-description
            = drawing.description
          .user-name
            Uploaded by:
            = drawing.user.email
          .time-ago
            uploaded
            = time_ago_in_words drawing.created_at
            ago
          .country
            - if drawing.country.present?
              drawn in
              = ISO3166::Country.find_country_by_alpha2(drawing.country).name
