.drawings-wrapper
  .drawing
    .drawing-body
      .image-wrap
        = image_tag preview_image(@drawing), id: 'image-preview', class: 'img-responsive'
        = simple_form_for @drawing, html: { multipart: true } do |f|
          .row
            .col-md-12.text-center
              = f.error_notification
          .container-fluid
            .form-group.text-center
              %h4 Upload an image (this is required):
              = f.input :image, label: false, required: true, input_html: { onChange: 'loadFile(event)' }
            .form-group.text-center
              = f.input :description, label: false, placeholder: 'The description, e.g. Children play'
            .form-group.text-center
              = f.input :age, type: 'number', label: false, required: true, placeholder: 'Age of child'
            .form-group.text-center
              = f.input :gender, collection: ["Female", "Male"], label: false, required: true, prompt: "Gender of child"
            .form-group.text-center
              = f.input :story, label: false, required: false, placeholder: 'The story of the child (optional)'
            .form-group.text-center
              = f.input :subject_matter, collection: ["Home / Country of origin", "Transit", "Camp life", "Future hopes / destination"], label: false, required: true, prompt: "Subject matter of drawing"
            .form-group.text-center
              .ranger-group
                .ranger-emoji
                %label_tag.ranger-label{:for => "range"} Range
                %input.ranger-range#range{:type => "range", :name => "range", :min => "0", :max => "4", :step => "1", :value => "2"}

              = f.input :mood_rating, type: 'number', required: true, label: false, placeholder: 'Mood rating (1 to 10)'
            .form-group.text-center
              = f.input :country, priority: TOP_COUNTRIES, selected: (@drawing.new_record? ? current_user.country : @drawing.country), label: false, include_blank: "Country picture was drawn in", class: 'form-control'
            .form-group.text-center
              %label_tag{for: "status"} Status (leave this as Pending if you need to enter required details later)
              = f.input :status, collection: radio_statuses, label_method: lambda {|k| k.last.capitalize }, as: :radio_buttons, required: true, label: false
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block'


:javascript
  var ranger = function($elem) {
    var $parent = $elem.parent(),
        moods = ["joyous","happy","neutral", "sad","tragic"],
        rangeVal = parseInt($elem.val());
        defaultMood = rangeVal;
    $parent.attr("data-mood",moods[defaultMood]);
    $elem.change(function(){
      rangeVal = parseInt($elem.val());
      $parent.attr('data-mood',moods[rangeVal]);
    });
  }
  ranger($('.ranger-range'));
