.col-xs-12.text-center
  %h1.add-margin.top.bottom
    = form_title
.row.drawings-wrapper.no-padding
  .col-xs-12.col-sm-11.position.central.no-padding
    = simple_form_for @drawing, html: {multipart: true } do |f|
      .col-xs-12.col-md-4
        .image-wrap.text-center
          = image_tag preview_image(@drawing), id: 'image-preview', class: 'img-responsive'
          %b Allowed image types: jpg, jpeg, png, tiff, gif, bmp
          =f.input :image, label: false, required: false, input_html: { onChange: 'loadFile(event)' }

      .forms-wrapper.col-xs.12.col-sm-8.no-padding
        .col-xs-12.col-md-6
          .position.central.form-section
            .form-title
              %h2 Drawing Details
            .form-group
              = f.input :country, priority: TOP_COUNTRIES, selected: (@drawing.new_record? ? current_user.country : @drawing.country), label: "Country drawn in", class: 'form-control'
              .form-group
              = f.input :subject_matter, collection: Drawing.subject_matters, label: "Subject matter of drawing", required: false
            .form-group
              = f.input :mood_rating, as: :radio_buttons, collection: mood_select_box, label: 'How would you rate the mood of the drawing?'
            .form-group
              = f.input :description, as: :text, input_html: {:rows => 8 }, label: 'Description of drawing'
            .form-group.form-consent
              = f.input :image_consent, label: @drawing.image_consent_text, input_html: { checked: image_consent_default }

        .col-xs-12.col-md-6
          .position.central.form-section
            .form-title
              %h2 Artist Details
            .form-group
              = f.input :age, type: 'number', label: 'Age of artist', class: 'optional', required: false
            .form-group
              = f.input :gender, as: :radio_buttons, collection: radio_genders, label: 'Gender'
            .form-group
              = f.input :origin_country, priority: TOP_ORIGIN_COUNTRIES, selected: @drawing.origin_country, label: "Country of origin", class: 'form-control'
            .form-group
              = f.input :stage_of_journey, collection: Drawing.stages_of_journey, label: 'Stage of journey', required: false
            .form-group
              = f.input :story, label: 'Story of the artist', class: 'optional-label', required: false

          .col-xs-12.col-sm-10.col-md-8.add-margin.top.half.position.central
            .form-group
              = f.input :status, collection: radio_statuses, label_method: lambda {|k| k.last.capitalize }, as: :radio_buttons, required: true, label: 'Status', class: 'add-margin bottom half'
            .form-group.text-center
              = f.button :submit, class: 'btn-success btn-block no-margin'
