.container
  %h3
    = form_title

  .row.col-md-12
    = simple_form_for @user, html: { multipart: true } do |f|
      .form-group
        .alert.alert-warning Note: Only confirmed email addresses will be able to log in and use the admin portal. When adding or changing an email address, the user will be sent an email with a secure link to confirm their address, (re)activate their account and update their password.
      .form-group
        = f.input :email, label: "Email", required: true

        - if @devise_mapping.confirmable? && @user.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{@user.unconfirmed_email}
      .form-group
        = f.label 'Role'
        %br
        = f.collection_radio_buttons :role, radio_roles, :first, :last do |b|
          = b.radio_button
          = b.label(class: "btn")
      .form-group
        = f.input :country, label: "Country", priority: TOP_COUNTRIES, placeholder: "Select a country", required: true
        = f.input :organisation_id, as: :select, label: "Organisation", collection: Organisation.all, placeholder: "Select an organisation (optional)"
      .form-group
        = f.button :submit, class: 'btn-success btn-block'
