- @users.each do |user|
  %tr
    %td
      = user.id
    %td
      = user.email
    %td
      = user.role.humanize
    %td
      = link_to organisation_path(user.organisation) do
        = user.organisation_name
    %td
      = user.country
    %td
      = user.created_at
    %td
      = link_to edit_user_path(user) do
        %i.fa.fa-pencil{"aria-hidden" => "true"}
    %td
      = link_to user_path(user.id), method: :delete, data: { confirm: 'Are you sure? Note: this will NOT delete the user\'s uploaded drawings.' } do
        %i.fa.fa-trash{"aria-hidden" => "true"}
