.container
  %h2 Account Activation

  .row
    = simple_form_for(resource, as: resource_name, url: update_user_confirmation_path, html: { method: :patch }, id: 'activation-form') do |f|
      = f.error_notification
      .form-group
        .alert.alert-notice Account Activation
        - if resource.try(:user_name)
          for
          = resource.user_name
      - if @requires_password
        .form-group
          = f.input :password, autocomplete: "off", label: "Password", hint: "leave it blank if you don't want to change it", required: false
          = f.input :password, autocomplete: "off", label: "Password Confirmation", required: false

        .form-group
          = f.input :confirmation_token, as: :hidden
          = f.submit "Activate", class: 'btn-lg btn-primary btn-block'
