= render layout: 'layouts/logged_out', locals: { heading: "Resend unlock instructions", links: true } do
  = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    = f.full_error :unlock_token
    .form-inputs
      = f.input :email, required: true, autofocus: true, input_html: { class: 'input-lg' }
    .form-actions
      = f.button :submit, "Resend unlock instructions", class: 'btn-lg btn-primary btn-block'
