.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand= link_to "Draw My Life", root_path
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.divider{:role => "separator"}
          %li.separator
            = link_to root_path do
              %i.fa.fa-home{"aria-hidden" => "true"}
              Manage Drawings
          %li
            = link_to new_drawing_path do
              %i.fa.fa-plus{"aria-hidden" => "true"}
              Upload
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "My Profile", edit_user_registration_path(current_user)
              - if current_user.super_admin?
                %li
                  = link_to "Users", users_path
              %li
                = link_to "Organisations", organisations_path
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Sign in
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "Login", new_user_session_path
              %li
                = link_to "Re-Send Password", new_user_password_path
              %li
                = link_to "Re-send Activation Details", new_user_confirmation_path

    / /.navbar-collapse
  / /.container-fluid
