!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DrawMyLifeService
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/css/bootstrap-slider.css"}
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/bootstrap-slider.min.js")

  %body
    = render 'layouts/navbar'
    - flash.each do |name, msg|
      .container
        = content_tag :div, msg, class: [:alert, alert_for(name)]
    = yield

    - if Rails.env.production?
      = javascript_include_tag 'hotjar.js'
